<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Iteration Thymeleaf</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user, statusVar : ${users}" th:object="${user}">
                <td th:text="${statusVar.count}"></td>
                <td th:text="*{name}">Name</td>
                <td th:text="*{email}">Email</td>
                <td th:text="*{role}">Role</td>
                <td th:text="*{gender}">Gender</td>
            </tr>
        </tbody>
    </table>
</body>

</html>